.buy {
  display: inline-block;
  position: static;
  left: 1ch;
  padding: .5ex 1ch;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  color: #69a235;
  border-radius: 4px;
  background-color: rgba(179,207,145,.2);
}