.linkBg {
  color: inherit;
  /* background-image: url(https://static.coingecko.com/s/more_coins_bg_image-fae6b7ef974cae0d8d6b551ad66e82306f47829318211cbc7e768027df24c513.png); 
  background-repeat:no-repeat; 
  background-size: cover;
  object-fit: cover;
  width: '15rem'; */
  /*margin-right: '8px';
  margin-left: '8px'; 
  margin-top: '8px'; */
}