.coinLink {
  cursor: pointer;
  color: #8dc647;
  text-decoration: none;
  font-weight: bold;
}
.coinLink:hover {
  color: #8dc647;
}
.feedbackLink {
  cursor: pointer;
  color: #4a4a4a;
  text-decoration: none;
}
.feedbackLink:hover {
  color: #8dc647;
}
.secBtn {
  color: #6c757d;
  /* border-color: #e5e7eb; */
  border-radius: .375rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  align-items: center;
  margin-right: 4px;
  background-color: transparent;
}